AddEncoding gzip .gz

<IfModule mod_rewrite.c>
    # NOTE: files compressed with gzip should use the -n
    # flag or else Redbot won't be able to read them...
    RewriteEngine on
    
    # If Accept-Encoding contains gzip...
    RewriteCond %{HTTP:Accept-Encoding} gzip
    # And there's a pre-compressed version available...
    RewriteCond %{REQUEST_FILENAME}.gz -f
    # Server the pre-compressed version
    RewriteRule ^(.*)$ $1.gz [L]
</IfModule>

AddCharset UTF-8 .html
AddCharset UTF-8 .atom
AddCharset UTF-8 .rss

# TODO: Make these conditional where it makes sense
Header add Vary Accept-Encoding
ExpiresActive on
ExpiresByType text/html A120
ExpiresByType application/rss+xml A120
ExpiresByType application/atom+xml A120
Header append Cache-Control must-revalidate

# Favicon.ico changes very rarely
<FilesMatch "favicon\.ico(\.gz)?$">
	ExpiresDefault "access plus 1 day"
</FilesMatch>