{% extends "base.html" %}
{% block page_title %}{{post.title}}{% endblock %}
{% block body %}

  {{ render_post(post) }}
  
  <div class="post-nav">

    {% if post.older %}
      <div class="nav-left">
          <a href="{{post.older.uri}}">&larr; {{post.older.title}}</a>
      </div>
    {% else %}
      <div class="nav-left hidden"> &nbsp; </div>
    {% endif %}
    
    {% if post.newer %}
      <div class="nav-right">
          <a href="{{post.newer.uri}}">{{post.newer.title}} &rarr;</a>
      </div>
    {% else %}
      <div class="nav-right hidden"> &nbsp; </div>
    {% endif %}

  </div>
    
{% endblock %}