{% extends "base.html" %}
{% block title %}{{site.title}}{% endblock %}
{% block body %}
  {% for post in post_group.posts %}
    {% if not loop.first %}
    <div class="between-posts">&nbsp;</div>
    {% endif %}
    {{ render_post(post, linkify=True) }}    
  {% endfor %}
  
  <div class="pg-nav">
    {% if post_group.older %}
      <div class="nav-left">
        <a href="{{post_group.older.uri}}">&larr; Older posts</a>
      </div>
    {% else %}
      <div class="nav-left hidden"> &nbsp; </div>
    {% endif %}
    
    {% if post_group.newer %}
      <div class="nav-right">
        <a href="{{post_group.newer.uri}}">Newer posts &rarr;</a>
      </div>
    {% else %}
      <div class="nav-right hidden"> &nbsp; </div>
    {% endif %}

  </div>
  
{% endblock %}